$brand-blue: #617baf;
$intro-banner: whitesmoke;
$intro-white: #f6f9fc;
$bp-mobile: 800px;
$bp-nonmobile: 801px;

:global {
  #phenomic {
    overflow: hidden;
  }
}

body {
  background: linear-gradient(131deg, rgb(70, 151, 244), rgb(237, 0, 255));
  color: white;
  font-family: "Helvetica", sans-serif;
  padding: 3rem;
  overflow: hidden;
  min-height: 350px;
  @media all and (max-width: $bp-mobile) {
    padding: 1.5rem;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  @media all and (max-width: $bp-mobile) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  @media all and (max-width: $bp-mobile) {
    font-size: 1.5rem;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-top: -5%;
  position: relative;
  @media all and (max-width: $bp-mobile) {
    margin-top: 0;
  }
}

.heart {
  color: red;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.cta {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5%;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border: 3px solid white;
  padding: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
  @media all and (max-width: $bp-mobile) {
    margin-top: 0;
  }
  &:hover,
  &:focus,
  &:active {
    color: #5186ef;
    background: white;
    text-decoration: none;
    transform: translateY(-5%);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
  }
}

.heart {
  cursor: pointer;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;

  img {
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;

    animation: boomy 3.4s ease-in 1;
    animation-play-state: paused;
  }
  &:hover {
    animation: none;
    img {
      transform: scale(1.25);
    }
  }
  @media all and (max-width: $bp-mobile) {
    margin-left: 0.5rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.content {
  width: 66%;
  line-height: 1.25;
  @media all and (max-width: $bp-mobile) {
    width: 100%;
  }
}

.social {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0.25em 0;
  font-size: 2rem;
  @media all and (max-width: $bp-mobile) {
    justify-content: space-between;
  }
  @media all and (max-width: $bp-mobile / 2) {
    font-size: 1rem;
    text-align: center;
  }
}

.socialList li {
  display: inline-block;
  color: white;
  transition: all 0.33s ease-in-out;
  text-align: center;

  .title {
    display: block;
    text-align: center;
    font-size: calc(9px + 1vw);
    @media all and (min-width: $bp-nonmobile) {
      display: none;
    }
  }

  > a {
    position: relative;
    &::after {
      transition: all 0.5s ease-out;
      transform: translateY(-25%);
      opacity: 0;
      content: attr(title);
      // position: absolute;
      position: fixed;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      font-size: 30%;
      margin: 0 auto;
      text-align: center;
      @media all and (max-width: $bp-mobile) {
        display: none;
        // opacity: 1;
        // transform: none;
      }
    }
  }
}

.socialList > li {
  opacity: 0.5;
  &:focus,
  &:active {
    outline: none;
  }
}

.socialList:hover > li {
  opacity: 0.25;
}

.socialList:hover > li:hover,
.socialList > li:focus,
.socialList > li:active {
  opacity: 1;
  transform: translateY(-5px);
  > a::after {
    opacity: 1;
    transform: translateY(0%);
  }
}

.words-wrapper {
  .word {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    padding-right: 3px;
    &:not(:first-child) {
      // margin-left: 0.25rem;
      padding-left: 3px;
    }

    position: relative;
  }
  &.active {
    .word.active {
      opacity: 1;
    }
    .word:not(.active) {
      opacity: 0.5;
    }
  }
}

body {
  background-color: #fb861d;
}
.content {
  margin: 5% 0 0 0%;
}
.shake {
  display: inline-block;
}
.shake {
  display: block;
  position: relative;
}
img {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 50% 50% 50% 50%;
}
h2.shake,
.shake.inline {
  display: inline-block;
}
h1,
p,
h2 {
  color: #fff;
}

@keyframes boomy {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}
